@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* @layer components {
    .container {
        @apply mx-auto;
    }
} */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container {
    margin: 0px auto;
}
.font-poppins {
    font-family: "Poppins", sans-serif;
}